body{
	background-color: yellow
    } 
h1{
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px
} 
h2{
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px
}
h3{
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px
  }
